body {
  font-family: "Fira Sans", sans-serif;
}

.apresentacao__foto-media650 {
  display: none;
}

.apresentacao {
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  gap: 100px;
  padding: 20px 40px;
}

.apresentacao .foto {
  width: 450px;
  justify-self: end;
}

@media (max-width: 1050px) {
  .apresentacao {
    gap: 40px;
    padding: 40px;
  }

  .apresentacao .foto {
    width: 100%;
  }
}

@media (max-width: 850px) {
  .apresentacao {
    grid-template-columns: 7fr 5fr;
  }
}

@media (max-width: 650px) {
  .apresentacao .foto {
    display: none;
  }
  .apresentacao {
    grid-template-columns: 1fr;
  }
  .apresentacao__media650 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
  }

  .apresentacao__foto-media650 {
    display: block;
    width: 200px;
  }
}

@media (max-width: 550px) {
  .apresentacao__media650 {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
  }

  .apresentacao__foto-media650 {
    order: -1;
    width: 200px;
  }

  .apresentacao {
    padding-top: 0;
  }
}

@media (max-width: 510px) {
  .apresentacao__foto-media650 {
    width: 150px;
  }
}

@media (max-width: 425px) {
  .apresentacao__foto-media650 {
    width: 125px;
  }
}

@media (max-width: 380px) {
  .apresentacao__media650 {
    flex-direction: column;
  }
}
