
.apresentacao__sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.apresentacao__sobre h2 {
    font-size: 60px;
    padding: 0;
}

.apresentacao__sobre p {
    font-size: 19px;
    padding-top: 20px;
    color: #525252;
}

.apresentacao__sobre p strong {
    color: #000000;
}

.ponto{
    color: #87E816
}



.apresentacao__sobre a span img {
    width: 15px;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    color: #3d3d3d;
}

.apresentacao__sobre a {
    text-decoration: none;
    color: #cccccc;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.icone-download {
    width: 15px;
}

