.projetos {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 40px;
}

.projetos h2 {
  font-weight: 300;
  font-size: 2rem;
  color: var(--cinza8);
  position: relative;
}

.projetos h2::before {
  position: absolute;
  content: "";
  width: 3px;
  height: 25px;
  top: 5px;
  left: -3px;
  background-color: var(--cor-primaria);
}

.projetos__grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.projetos__grid a {
  display: inline-block;
  color: var(--cinza1);
  text-decoration: none;
}

.projetos__item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  height: 200px;
  background-color: var(--cinza12);
  padding: 20px;
  border-radius: 4px;
  box-shadow: var(--light-shadow);
  transition: 0.2s;
}

.projetos__item > p {
  flex: 1;
  color: var(--cinza6);
  margin: 0;
}

.projetos__ferramentas {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100px;
  margin-top: 40px;
  gap: 10px;
}

.projetos__ferramentas p {
  border-radius: 4px;
  color: var(--cinza8);
  font-weight: 700;
  position: relative;
  margin: 0;
}

@media (max-width: 1050px) {
  .projetos__grid {
    gap: 20px;
  }
}

@media (max-width: 950px) {
  .projetos__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .projetos__grid {
    grid-template-columns: 1fr 1fr;
  }
  .projetos {
    margin-top: 0px;
  }
}

@media (max-width: 550px) {
  .projetos__grid {
    grid-template-columns: 1fr;
  }
}
