.termos {
  margin-top: 80px;
  margin-bottom: 80px;
}

.termos h2 {
  font-weight: 600;
  padding-bottom: 20px;
}

.termos p + h2 {
  padding-top: 40px;
}

.termos p {
  padding-bottom: 20px;
  max-width: 74ch;
}
