.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.cabecalho .cabecalho__menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabecalho__logo img {
  width: 130px;
}

.cabecalho .cabecalho__menu ul li {
  padding: 10px;
  list-style: none;
  margin-top: 5px;
  transition: 0.2s;
}

.cabecalho .cabecalho__menu ul li:last-child {
  padding-right: 0;
}

.cabecalho .cabecalho__menu ul li:hover {
  margin-top: 0px;
}

.cabecalho .cabecalho__menu .menu__icone {
  width: 30px;
  padding: 5px;
}

.cabecalho .cabecalho__menu .menu__icone:last-child {
  padding-right: 0;
}

/* .download-cv img {
    width: 20px;
} */

@media (max-width: 1050px) {
  .cabecalho {
    padding-right: 40px;
    padding-left: 40px;
  }
}
@media (max-width: 750px) {
  .cabecalho__logo {
    width: 110px;
  }
}

@media (max-width: 550px) {
  .cabecalho {
    flex-direction: column;
    gap: 10px;
  }
  .cabecalho .cabecalho__menu ul li {
    padding: 0 10px;
  }

  .cabecalho__logo {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .cabecalho__logo {
    width: 100px;
  }
}
