:root {
  --noto-serif: "Noto Serif", serif;
  --poppins: "Poppins", sans-serif;
  --noto-sans: "Noto Sans", sans-serif;

  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
body {
  font-family: var(--noto-serif);
  font-family: var(--poppins);
  font-family: var(--noto-sans);
}
/* POPPINS */
.poppins-g {
  font: 500 1.75rem/1.12 var(--poppins);
}
.poppins-m {
  font: 500 1.25rem/1.2 var(--poppins);
}
.poppins-m-up {
  font: 500 1.25rem/1.2 var(--poppins);
  text-transform: uppercase;
}
.poppins-p {
  font: 400 1rem/1.5 var(--poppins);
}

/* NOTO SANS */
.noto-sans-p {
  font: 400 1rem/1.5 var(--noto-sans);
  letter-spacing: 0.05em;
}

.noto-sans-p-bold {
  font: 700 1rem/1.5 var(--noto-sans);
  letter-spacing: 0.05em;
}

.noto-sans-m {
  font: 500 1.125rem/1.2 var(--noto-sans);
  letter-spacing: 0.05em;
}

/* NOTO SERIF */
.noto-serif-m {
  font: 500 3rem/1.25 var(--noto-serif);
}

.noto-serif-g {
  font: 700 3rem/1.25 var(--noto-serif);
}
.noto-serif-gg {
  font: 600 3.75rem var(--noto-serif);
}

@media (max-width: 1100px) {
  .noto-serif-g {
    font: 700 2.5rem/1.25 var(--noto-serif);
  }
  .poppins-m {
    font: 500 1.125rem/1.2 var(--poppins);
    letter-spacing: 1.2px;
  }

  .poppins-g {
    font: 500 1.5rem/1.12 var(--poppins);
  }

  .noto-sans-m {
    font: 500 1rem/1.2 var(--noto-sans);
    letter-spacing: 0.05em;
  }

  .noto-serif-m {
    font: 500 2.25rem/1.25 var(--noto-serif);
  }
}

@media (max-width: 900px) {
  .noto-serif-g {
    font: 700 2rem/1.25 var(--noto-serif);
  }
  .poppins-m {
    font: 500 0.75rem /1.2 var(--poppins);
  }
  .poppins-g {
    font: 500 1.125rem/1.12 var(--poppins);
  }
  .noto-sans-m {
    font: 500 0.75rem/1.5 var(--noto-sans);
    letter-spacing: 0.05em;
  }
  .noto-sans-p {
    font: 500 0.75rem/1.5 var(--noto-sans);
    letter-spacing: 0.05em;
  }

  .noto-sans-p-bold {
    font: 700 0.75rem/1.5 var(--noto-sans);
    letter-spacing: 0.05em;
  }
}

@media (max-width: 800px) {
  .noto-serif-g {
    font: 700 1.75rem/1.25 var(--noto-serif);
  }
  .noto-serif-m {
    font: 500 1.75rem/1.25 var(--noto-serif);
  }
}

@media (max-width: 600px) {
}
