:root {
  --cinza1: #f5f5f5;
  --cinza2: #f0f0f0;
  --cinza3: #e0e0e0;
  --cinza4: #cccccc;
  --cinza5: #b8b8b8;
  --cinza6: #a3a3a3;
  --cinza7: #8f8f8f;
  --cinza8: #7a7a7a;
  --cinza9: #666666;
  --cinza10: #525252;
  --cinza11: #3d3d3d;
  --cinza12: #292929;
  --cinza13: #141414;
  --cor-primaria: #85E716;
  --transition: all 0.2s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  --max-width: 1170px;
  --fixed-width: 620px;
}
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
