:root {
    --cinza-escuro: #010508;
    --cinza-medio: #0D1016;
    --cinza-claro: #171A22;
    --branco: #d8d8d8;
    --verde: #268C35;
    --azul: #0D6AF0;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }