.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.menu ul li:hover img {
  transform: scale(1.1);
  transition: all 0.1s linear;
}

.menu-lista ul li a img {
  width: 32px;
}

.menu-lista ul {
  display: flex;
  gap: 40px;
}

.menu-lista ul li {
  display: flex;
  align-items: center;
}

#index .menu-lista ul li:first-child {
  padding: 10px 20px;
}

@media (max-width: 1100px) {
  .menu a img {
    width: 80px;
  }
}

@media (max-width: 900px) {
  .menu-lista ul li a img {
    width: 24px;
  }
  .menu-lista ul {
    gap: 20px;
  }
}
