.tutoriais-introducao {
  background-color: var(--cor-12);
  padding: 40px 0;
}

.tutoriais > span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tutoriais > span::before {
  content: "";
  display: block;
  width: 40px;
  height: 12px;
  background-color: var(--cor-p4-r);
}

.tutoriais > h1 {
  margin-bottom: 32px;
}

.tutoriais > p {
  max-width: 600px;
}

.tutoriais-lista {
  background-color: var(--cor-2);
  padding: 40px 0;
}

.tutoriais-filtro ul {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-bottom: 60px;
}

.tutoriais-filtro li {
  background-color: var(--cor-12);
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.tutoriais-filtro li:hover {
  background-color: var(--cor-p1-v);
  transition: all 0.2s linear;
}

.tutoriais-filtro li.ativo {
  background-color: var(--cor-p1-v);
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.tutoriais-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 0;
  margin-bottom: 20px;
  gap: 40px;
}

.tutoriais-item-img img {
  border-radius: 5px;
  margin-left: 20px;
}

.tutoriais-item h2 {
  margin-top: 20px;
  margin-bottom: 8px;
  margin-right: 20px;
}
.tutoriais-item p {
  margin-bottom: 40px;
  margin-right: 20px;
}

.tutoriais-vantagens {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.tutoriais-item ul li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 12px;
}

.botao-acessar {
  background-color: var(--cor-p1-v);
  padding: 16px 32px 16px 16px;
  border-radius: 4px 0 0 4px;
  justify-self: end;
  align-self: end;
}

.botao-acessar:hover {
  padding: 16px 60px 16px 16px;
  transition: all 0.1s linear;
}

.tutoriais-item ul li img {
  width: 24px;
}

.tutoriais-item:nth-child(odd) {
  background-image: linear-gradient(to right, #ffffff 30%, #111111 0);
}

.tutoriais-item:nth-child(odd) h2 {
  color: var(--cor-w);
}

.tutoriais-item:nth-child(odd) p {
  color: var(--cor-5);
}

.tutoriais-item:nth-child(odd) ul {
  color: var(--cor-6);
}

.tutoriais-item-img {
  position: relative;
}

.tutoriais-item-img {
  display: grid;
}

.tutoriais-item-img img {
  grid-area: 1/1;
}

.tutoriais-item-img svg {
  grid-area: 1/1;
  justify-self: end;
  margin-right: 40px;
  padding: 20px;
  width: 32px;
  opacity: 0.5;
  color: var(--cor-5);
  cursor: pointer;
}

.tutoriais-item-img svg:hover {
  color: var(--cor-w);
  opacity: 1;
  transition: all 0.2s linear;
  transform: scale(1.02);
}

@media (max-width: 1095px) {
  .tutoriais-item-img img {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .tutoriais-item-img img {
    width: 400px;
  }
}

@media (max-width: 800px) {
  .tutoriais-filtro ul {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
  }

  .tutoriais-item-img img {
    width: 300px;
  }

  .tutoriais-item {
    gap: 20px;
  }

  .tutoriais-item p {
    margin-bottom: 12px;
  }
}

@media (max-width: 650px) {
  .tutoriais-item-img img {
    width: 275px;
  }

  .tutoriais-vantagens {
    grid-template-columns: 1fr;
    gap: 0px;
  }
  .botao-acessar {
    padding: 12px 24px;
    border-radius: 5px;
    justify-self: start;
    align-self: end;
  }

  .botao-acessar:hover {
    padding: 12px 24px;
    transition: none;
  }
}

@media (max-width: 550px) {
  .tutoriais-item:nth-child(odd) {
    background-image: linear-gradient(to right, #ffffff 0, #111111 0);
  }
  .tutoriais-item {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .tutoriais-item-img img {
    width: 100%;
    margin-left: 0px;
  }

  .tutorial-descricao-container {
    margin: 0 20px;
  }

  .tutoriais-item h2 {
    margin-top: 8px;
  }

  .tutoriais-vantagens {
    grid-template-columns: 2fr 1fr;
    gap: 0px;
  }

  .botao-acessar {
    padding: 12px 24px;
    justify-self: end;
    align-self: end;
  }
}
