.tutoriais-introducao {
  background-color: var(--cor-12);
  padding: 40px 0;
}

.tutoriais > span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tutoriais > span::before {
  content: "";
  display: block;
  width: 40px;
  height: 12px;
  background-color: var(--cor-p4-r);
}

.tutoriais > h1 {
  margin-bottom: 32px;
}

.tutoriais > p {
  max-width: 600px;
}

.tutoriais-lista {
  background-color: var(--cor-2);
  padding: 80px 0;
}

.tutoriais-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 0;
  margin-bottom: 20px;
}

.tutoriais-item img {
  border-radius: 5px;
}

.tutoriais-item h2 {
  margin-top: 20px;
  margin-bottom: 8px;
}
.tutoriais-item p {
  margin-bottom: 40px;
}

.tutoriais-item ul li {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  gap: 12px;
}

.tutoriais-item ul li img {
  width: 24px;
}

.tutoriais-item:nth-child(even) {
  background-image: linear-gradient(to right, #ffffff 30%, #111111 0);
}

.tutoriais-item:nth-child(even) h2 {
  color: var(--cor-w);
}

.tutoriais-item:nth-child(even) p {
  color: var(--cor-5);
}

.tutoriais-item:nth-child(even) ul {
  color: var(--cor-6);
}
